@import "../mixins";
@import "../variables";

.c-error {
  display: block;
  position: fixed;
  z-index: 3;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 20%;
  background: $error-bg-color;
  color: $white;
  
  @include element('header') {
    margin: 0;
    padding: .3rem;
    height: 1.9rem;
    line-height: .5rem;
    background-color: $red;
    color: $white;
    font-weight: bold;
  }
  p {

  }
  @include element('message') {
    margin: .4rem;
    @include modifier('details') {
      font-size: 60%;
      color: $error-server-message-color;
    }
  }
  @include modifier('hide') {
    display: none;
  }
}
