$black: #000000;
$gallery-border: #ecebe9;
$gallery-subheading-color: #382e2e;
$red: #ff0000;
$white: #ffffff;
$green: #27ae60;
$green-hover: #2ecc71;
$red: #ff0000;
$red-hover: #fc8f8f;

$header-color: #eee;
$label-color: #797d87;
$rangle-color: #ddd;
$blue: #0000ff;
$blue-light: #3570f9;
$gallery-remove-button-color: $red;
$gallery-add-button-color: #FF6400;
$body-color: #f2f2f2;
$overlay-color: rgba(0, 0, 0, .75);

$square-top-left-color: #823a8c;
$square-top-right-color: #008cff;
$square-bottom-left-color: #EF4C23;
$square-bottom-right-color: #008cff;

$gallery-box-shadow: rgba(0,0,0, .15);
$gallery-box-shadow-hover: rgba(0,0,0, .3);

$error-bg-color: rgba(0,0,0, .7);
$error-server-message-color: #d1cfcf;

$editor-range-fill-color: #ccc;
$editor-range-fill-lower-color: #888;
$editor-bg-color: rgba(0, 0, 0, .6);
